body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header{
  background-color: rgb(212, 96, 19);
  padding: 1rem;/*1rem = 16px*/
}

header a{
  color: white;
  text-decoration: none;
  font-weight: bold;
}

a{
  text-decoration: none;
}

main{
  flex: 1;
}



.site-content{
  min-height: 100vh;
}

/*clases para los productos*/
.productoContenedor{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.productoItem{
  border: 2px #ccc solid;
  margin: 1rem;
}

.productoItem img{
  max-width: 400px;
  width: 100%;
}

.productInfo{
  padding: 1rem;
}

.no-decoration{
  text-decoration: none;
}



/*span*/

.rating span{
  color: rgb(235, 125, 0);
}

/*clases para botones*/

.btn-custom{
  border-radius: 5px;
  padding: 0.5rem;
  font-weight: bold;
}

.btn-custom:hover{
  background-color:rgb(236, 181, 27);
  color: white;
}

.btn-cart{
  background-color: rgb(255, 199, 44);
  border-color: rgb(26, 24, 24);
}

.btn-mp{
  background-color: rgb(56, 196, 221);
  border-color: rgb(26, 24, 24);
}

.btn-mp:hover{
  background-color: rgb(56, 196, 221);
  color: rgb(255, 255, 255);
}


/*clases para las imagenes y thumbnails*/

.img-large{
  width: 100%;
  height: auto;
  border:rgb(26, 24, 24) solid 1px;
  border-radius: 5px;	
}

.img-thumb{
  height: 80px;
  border:rgb(26, 24, 24);
  border-radius: 5px;	
}

/*Login*/

.loginContenedor{
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.barraProgreso > div{
  border-bottom: 0.2rem solid rgb(134, 134, 134);
  color : rgb(134, 134, 134);
}

.barraProgreso > div.active{
  border-bottom: 0.2rem solid rgb(212, 96, 19);
  color : rgb(212, 96, 19);
}

/* sidebar */
.navbar-brand {
  font-weight: bold;
}
.side-navbar {
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-color: #100901;
  transition: 0.5s;
}

.site-container {
  transition: 0.4s;
}
.active-cont {
  margin-left: 240px;
}
.active-nav {
  left: 0;
}